body{
  background-color: #2d2d2d;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  margin: 0;
}

.hidden{
  display: none;
}


.navigation a{
      font-weight: bold;
      font-size: 14px;
      color: white;
      /* display:inline-block; */
      height: 15px;
      line-height:25px;
      padding:0px 10px;
      text-decoration:none;
      transition: color 0.3s ease-in;
      margin-bottom: 30px;
      cursor: pointer;
    }

.navigation ul li{
    /* display: inline; */
    margin-top: 20px;
  }

  .navigation ul {
      /* display: inline; */
      margin-top: 150px;
    }

.navigation a:hover{
  color: #2d2d2d;
}

.log{
  /* float: right; */
  top: 80px;
  position: relative;
}

.navCon{
  font-family:"Arial";
  width: 10%;
  min-height: 100%;
  float: right;
  background-color: #44494e;
  position: fixed;
  right: 0;
  box-shadow: 0px 0px 26.19px 0.81px rgba(0, 0, 0, 0.53);
}

}

.main{
  width: 960px;
  margin: 0 auto;
  font-family:"Arial";
  color: white;
  padding-top: 150px;

}

.mainPosts{
width: 960px;
color: white;
margin: 0 auto;
/* border: solid #B80000 2px; */
padding: 15px;
}

.mainPosts h2{
  font-weight: bold;
  font-size: 18px;
}
.mainPosts p{
margin-bottom: 50px;
}


.header{
    background-image: url("../images/background.png");
    background-size: cover;
    /* position: absolute; */
    left: 1834px;
    top: 0px;
    width: 90%;
    height: 620px;
    z-index: 63;
  }



.header h1 {
  font-size: 68px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  left: 2066px;
  margin-top: 15px;
  z-index: 69;
  /* font-weight: bold; */
}

.square{
  border-width: 11px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  position: relative;
  top: 240px;
  width: 763px;
  height: 112px;
  margin-left: auto;
  margin-right: auto;
}

.social{
  background-color: rgb(111, 196, 255);
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.social:hover{
  /* background-color: #2d2d2d; */
  opacity: 0.8;
}

.icon{
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.icon img{
  width: 35px;
  margin-top: 5px;
}

.aboutSec{
  width: 90%;
  height: 513px;
  background-color: white;
  float: left;
  padding: 0;
  margin: 0;
}

.aboutPic{
  float: right;
  width: 50%;
  padding: 0;
  margin: 0;
}

.aboutPic img{

  width: 100%;
  height: 100%;

}

.aboutInfo{
  width: 50%;
  float: left;
}

.aboutInfo h2{
  font-size: 26px;
  font-family: "Lucida Grande";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.aboutInfo p{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 22px;
  font-family: "Helvetica";
}

.researchSec{
  background-color: rgb(87, 122, 150);
  box-shadow: 0px 0px 26.19px 0.81px rgba(0, 0, 0, 0.53);
  width: 90%;
  float: left;
  height: 498px;
}

.researchSec h2{
    font-size: 36px;
    font-family: "Helvetica";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.researchSec p{
  width: 85%;
  margin: 0 auto;
  font-size: 22px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  line-height: 1.2;


}

.whiteLine{
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  top: 1085px;
  width: 85%;
  height: 4px;
  z-index: 52;
  margin-bottom: 50px;
}
