body{
  background-color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  margin: 0;
}

.hidden{
  display: none;
}


.navigation a{
      font-weight: bold;
      font-size: 14px;
      color: white;
      /* display:inline-block; */
      height: 15px;
      line-height:25px;
      padding:0px 10px;
      text-decoration:none;
      transition: color 0.3s ease-in;
      margin-bottom: 30px;
      cursor: pointer;
    }

.navigation ul li{
    /* display: inline; */
    margin-top: 20px;
  }

  .navigation ul {
      /* display: inline; */
      margin-top: 150px;
    }

.navigation a:hover{
  color: #2d2d2d;
}

.log{
  /* float: right; */
  top: 80px;
  position: relative;
}

.navCon{
  font-family:"Arial";
  width: 10%;
  min-height: 100%;
  float: right;
  background-color: #44494e;
  position: fixed;
  right: 0;
  box-shadow: 0px 0px 26.19px 0.81px rgba(0, 0, 0, 0.53);
}



.main{
  width: 960px;
  margin: 0 auto;
  font-family:"Arial";
  color: white;
  padding-top: 150px;

}

.mainPosts{
width: 960px;
color: white;
margin: 0 auto;
/* border: solid #B80000 2px; */
padding: 15px;
}

.mainPosts h2{
  font-weight: bold;
  font-size: 18px;
}
.mainPosts p{
margin-bottom: 50px;
}


.header{
    background-image: url("../images/background.png");
    background-size: cover;
    /* position: absolute; */
    left: 1834px;
    top: 0px;
    width: 90%;
    height: 620px;
    z-index: 63;
  }



.header h1 {
  font-size: 68px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  left: 2066px;
  margin-top: 15px;
  z-index: 69;
  /* font-weight: bold; */
}

.square{
  border-width: 11px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  position: relative;
  top: 240px;
  width: 763px;
  height: 112px;
  margin-left: auto;
  margin-right: auto;
}

.social{
  background-color: rgb(111, 196, 255);
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.social:hover{
  /* background-color: #2d2d2d; */
  opacity: 0.8;
}

.icon{
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.icon img{
  width: 35px;
  margin-top: 5px;
}


.newsSec{
  width: 90%;
  height: 513px;
  background-color: white;
  float: left;
  padding: 0;
  margin: 0;
  h3{
    font-family: "Helvetica";
    font-size: 24px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  h4{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 35px;
  }
.More{
  position: relative;
  margin-top: 50px;
  .seeMore{
    background-color: #577a96;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    // height: 50px;
    text-decoration: none;
    text-align: center;
    font-family: "Helvetica";
    color: white;
    margin-left: 50px;
    border: 2px solid #44494e;
    transition: 0.2s;
    &:hover{
      background-color: white;
      color: #44494e;
    }
  }
}
  .newsPic{
    img{
      width: 100%;
      // height: 100%;
    }
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;

  }
  .newsInfo{
    width: 50%;
    float: right;
    .newsTitle{
      font-size: 26px;
      font-family: "Lucida Grande";
      color: rgb(0, 0, 0);
      line-height: 1.2;
      margin-left: 50px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    .text{
      width: 100%;
      height: 250px;
      overflow: hidden;
      overflow-y: scroll;
    }
  }
  .newsDesc{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
    font-family: "Helvetica";
  }
}

.aboutSec{
  width: 90%;
  height: 513px;
  background-color: white;
  float: left;
  padding: 0;
  margin: 0;
}

.aboutPic{
  float: right;
  width: 50%;
  padding: 0;
  margin: 0;
}

.aboutPic img{

  width: 100%;
  height: 100%;

}

.aboutInfo{
  width: 50%;
  float: left;
}

.aboutInfo h2{
  font-size: 26px;
  font-family: "Lucida Grande";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.aboutInfo p{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 22px;
  font-family: "Helvetica";
}

.researchSec{
  background-color: rgb(87, 122, 150);
  box-shadow: 0px 0px 26.19px 0.81px rgba(0, 0, 0, 0.53);
  width: 90%;
  float: left;
  height: 498px;
  z-index: 143;
}

.researchSec h2{
    font-size: 36px;
    font-family: "Helvetica";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.researchSec p{
  width: 85%;
  margin: 0 auto;
  font-size: 22px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  line-height: 1.2;

}

.studentSec{
  background-color: #b5c2cd;
  box-shadow: 0px 0px 26.19px 0.81px rgba(0, 0, 0, 0.53);
  width: 90%;
  float: left;
  height: 498px;
  z-index: 143;
  .More{
    position: relative;
    margin-top: 50px;
    left: 7%;
    // width: 100%;
    a{
      background-color: #577a96;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      // height: 50px;
      text-decoration: none;
      text-align: center;
      font-family: "Helvetica";
      color: white;
      border: 2px solid #44494e;
      transition: 0.2s;
      &:hover{
        background-color: white;
        color: #44494e;
      }
    }
  }
  h3{
    width: 85%;
    margin: 0 auto;
  }
  p{
    width: 85%;
    margin: 0 auto;
    font-size: 22px;
    font-family: "Helvetica";
    color: rgb(255, 255, 255);
    line-height: 1.2;
  }

  h2{
      font-size: 36px;
      font-family: "Helvetica";
      color: rgb(255, 255, 255);
      line-height: 1.2;
      position:relative;
      right: 150px;
      z-index: 51;
      text-align: right;
      margin-top: 50px;
      margin-bottom: 10px;
      // left: 50%;
  }
  h4{
    width: 85%;
    margin: 0 auto;
  }
}

.contactForm{
  width: 90%;
  height: 600px;
  float: left;
  background-color: white;
  margin-bottom: 50px;
  input:focus, textarea:focus, select:focus{
        outline: none;
      }
  .street{
    display: none;
  }
  .desc{
    .messenger{
      float: left;
      width: 90%;
      margin-top: 107px;
      // margin-bottom: 50px;
    label{
      // position: relative;
      margin-bottom: 50px;
      margin-left: 25px;
      margin-top: 20px;
      color:#d5d5d5;
      font-family: "Avenir";
      // padding-bottom: 100px;
    }
    textarea{
      width: 100%;
      height: 390px;
      border: none;
      padding: 25px;
      border-left: 3px solid #d5d5d5;
      font-size: 24px;
      background-color: transparent;
    }
  }
  float: right;
  width: 50%;
}
  .inputCon{
    h2{
      font-size: 47px;
      font-family: "Avenir";
      text-align: left;
      margin-left:15%;
      margin-top: 50px;
      margin-bottom: 115px;
      // padding-top: 50px;
    }
    fieldset{
      label{
        margin-top: 20px;
        color:#d5d5d5;
        font-family: "Avenir";
      }
      input{
        width: 100%;
        border: none;
        border-bottom: 3px solid #d5d5d5;
        padding-top: 50px;
        font-size: 24px;
        // padding-bottom: 50px;
      }
      margin: 0 auto;
      width: 70%;
      margin-bottom: 50px;
    }
    float: left;
    width: 50%;
  }
  .submit{
    font-size: 24px;
    position: relative;
    float: right;
    width: 100%;
    background-color: #577a96;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    font-family: "Helvetica";
    color: white;
    border: 2px solid #44494e;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
      background-color: white;
      color: #44494e;
    }
  }
}

.whiteLine{
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  top: 1085px;
  width: 85%;
  height: 4px;
  z-index: 52;
  margin-bottom: 50px;
}
